@use '../../../styles/colors'

.btn
  display: flex
  justify-content: center
  align-items: center
  border-radius: 15px
  color: colors.$FONT_LIGHT
  background-color: colors.$ELEM_MAIN
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out

  &:hover
    background-color: colors.$ELEM_LIGHT
    color: colors.$ELEM_MAIN

  &--new
    text-decoration: none
    width: 150px
    height: 100px

  &--open
    width: 150px
    height: 100px

    & input
      display: none
    &:hover
      cursor: pointer